* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #01321F;
    margin: 0;
    /* display: flex;
    justify-content: center;
    min-height: 100vh; */
}
header {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;       /* Spans the whole screen */
    z-index: 1;      /* High enough to stay above everything */
    pointer-events: none; /* Allows clicks to pass through to the section below if needed */
}
.page-wrapper {
    width: 100%;
    position: relative;
}
/* ========== CONTENT (The Center Pills) ========== */
.pills-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
    z-index: 1;
    margin-top: -90px;
}
.text-pill{
    background-color: #cdc7b0;
    padding: 15px 40px;
    border-radius: 100px;
}
.welcome-pill h2{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.trevia-pill{
    padding: 10px 60px;
}
.trevia-pill h2{
    font-size: 4.5rem;
    font-family: serif;
    letter-spacing: 2px;
}
.first-section {
    width: 100%; 
    min-height: 100vh;
    background-image: url('../../static/trevia_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -160px;
    padding-top: 100px;
}
.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 50, 31, 0.45);   /* adjust opacity as needed */
    z-index: 0;
}

.content-area{
    width: 100%;
}
.second-section {
    width: 100%;
    min-height: 100vh;
    background-color: #01321F; /* Or a new image url */
    display: flex;
    justify-content: center;
    align-items: center;
}