{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trevia</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="page-wrapper">
        

        <main class="content-area">
            {% include 'components/header.html' %}
            <section class="first-section">
                
                <div class="pills-container">
                    <div class="text-pill welcome-pill">
                        <h2>SAY HELLO TO TREVIA</h2>
                    </div>
                    <div class="text-pill trevia-pill">
                        <h2 class="trevia-pill1">THE INTELLIGENT GUIDE</h2>
                        <h2 class="trevia-pill2">OF YOUR DESIGN</h2>
                    </div>
                </div>
            </section>
            <section class="second-section">
                
            </section>

        </main>
        <footer class="footer">
</footer>
    </div>

</body>

</html>