{% load static %}
{% include './sidebar.html' %}
<link rel="stylesheet" href="{% static 'header.css' %}">
<header class="main-header">
    <div class="nav-container">
        <div class="user-dropdown">
            <div class="dropdown-content">
                {% if user.is_authenticated %}
                <a class="profile" href="{% url 'profile' %}">Profile</a>
                <hr>
                <a href="{% url 'logout' %}" class="logout-item">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <i class="bi bi-box-arrow-in-right"></i> Sign In
                </a>
                <a href="{% url 'registration' %}">
                    <i class="bi bi-person-plus"></i> Sign Up
                </a>
                {% endif %}
            </div>
        </div>
       
        <nav>    
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contacts' %}">Contacts</a></li>
            </ul>
        </nav>
    </div>
        <div class="header-right">
            <div class="search-wrapper">
                <input type="text" placeholder="search" class="search-input">
                <i class="bi bi-search search-icon"></i>
            </div>
            <button id="menu-toggle-btn" class="menu-btn">
                <i class="bi bi-list"></i>
            </button>
        </div>
</header>